{% load static %}
<section class="section novi-background section-xl bg-periglacial-blue text-center"
         data-preset='{"title":"Services 1","category":"content","reload":false,"id":"services-1"}'>
    <div class="shell">
        <h2>NASZE USŁUGI</h2>
        <div class="p text-width-medium">
            <p class="big">Barbershop oferuje światowej klasy fryzury dla mężczyzn, pielęgnację brody i golenie
                na gorąco. Oto tylko niektóre z usług, z których jesteśmy znani.</p>
        </div>

        {% for service in services %}

        <article class="box-service  {{ service.define_block_class }} ">
            <div class="box-service-left"><img class="box-service-image"
                                               src="{{ service.image }}" alt=""
                                               width="500" height="490"/>
            </div>
            <div class="box-service-body">
                <div class="box-service-header">
                    <p class="box-service-title">{{ service.title }}</p>
                    <p class="box-service-price">
                        <small>zl</small>{{ service.price|floatformat:"0" }}<small>{{ service.price|floatformat:"2"|slice:"2:" }}</small>
                    </p>
                </div>
                <div class="box-service-text">
                    <p>{{ service.description }} </p>
                </div>
                <a class="btn btn-sm box-service-control" href="{% url 'choose_barber' %}">{{ service.button }}</a>
            </div>
        </article>

        {% endfor %}
    </div>
</section>