<div id="event-info" class="modal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-lg form-row">
                <div class="event-date col-md-4"></div>
                <div class="event-desc col-md-8"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="event-edit" class="md-btn md-raised mb-2 w-xs blue">Edytować</button>
                <button type="button" id="event-delete" class="md-btn md-raised mb-2 w-xs red " >Kasować</button>
            </div>
        </div>
    </div>
</div>