    <div class="col-6 col-sm-6 col-md-6">
        <div class="box-icon p-1">
            <label for="{{ field.name }}">{{ field.label }}</label>
            <img id="{{ field.name }}" src="{{ service.icon }}" alt="" class="w-100" {% if not service.icon %}style="display: none"{% endif %}>
            <div class="p-2">
                <div class="text-ellipsis text-ellipsis form-file">

                    {{ field }}

                    <button class="btn white">Wybierz plik ...</button>

                </div>
            </div>
        </div>
    </div>
</div>