{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Contacts - {{ block.super }}{% endblock %}

{% block content %}

    <section class="section novi-background box-wrap box-wrap-md bg-white"
             data-preset='{"title":"Contacts 1","category":"contacts, map, form","reload":true,"id":"contacts-1"}'>
        <div class="box-wrap-map">
            <!-- Google Map-->
            {#            <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="5"#}
            {#                 data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">#}
            {#                <div class="google-map"></div>#}
            {#            </div>#}
        </div>
        <div class="box-wrap-content">
            <div class="shell">
                <div class="range">
                    <div class="cell-xs-12">
                        <div class="box-contacts box-contacts-horizontal box-wrap-content-interactive">
                            <div class="box-contacts-col">
                                <div class="box-contacts-block">
                                    <h3>Adres</h3>
                                    <address>Chopina 14, 19-300 Ełk Poland</address>
                                </div>
                                <div class="divider divider-nebula"></div>
                                <div class="box-contacts-block">
                                    <h3>Godziny otwarcia</h3>
                                    <dl class="box-contacts-terms-list">
                                        <dt>Poniedziałek - Piątek</dt>
                                        <dd>9:00 - 18:00</dd>
                                        <dt>Sobota i Niedziela</dt>
                                        <dd>10:00 - 16:00</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="box-contacts-col box-contacts-right">
                                <div class="box-contacts-block">
                                    <h3>Skontaktuj się z nami</h3>
                                    <p>Zostaw swoje imię i numer telefonu, a my skontaktujemy się z Tobą.</p>
                                    <form class="rd-mailform" data-form-output="form-output-global"
                                          data-form-type="contact" method="post"
                                          action="https://livedemo00.template-help.com/wt_58888_v15/child/intense-barbershop/bat/rd-mailform.php">
                                        <div class="form-group">
                                            <label class="form-label-outside" for="contact-full-name">Pełne imię i
                                                nazwisko</label>
                                            <input class="form-control" id="contact-full-name" type="text" name="name"
                                                   data-constraints="@Required">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label-outside" for="contact-phone">Telefon</label>
                                            <input class="form-control" id="contact-phone" type="text" name="phone"
                                                   data-constraints="@Required @Numeric">
                                        </div>
                                        <button class="btn btn-sm btn-primary btn-block btn-circle" type="submit">WYSŁAĆ
                                            PROŚBĘ
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}