{% load static filter_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="Responsive, Bootstrap, BS4">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{% static 'admin/images/logo.svg' %}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'admin/images/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'admin/libs/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'admin/css/app.min.css' %}">

    {% block stylesheet %}{% endblock %}
    {% block javascript_header %}{% endblock %}

</head>
<body>
<div class="d-flex flex-column flex">
    <div class="navbar light bg pos-rlt box-shadow">
        <div class="mx-auto">
            <a href="{% url 'admin' %}" class="navbar-brand">
                <svg viewBox="0 0 24 24" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z"
                          fill="#fff" class="fill-theme"></path>
                </svg>
            <img src="{% static 'admin/images/logo.png' %}" alt="." class="hide">
                <span class="hidden-folded d-inline">Barbershop</span>
            </a>
        </div>
    </div>
    <div id="content-body">
        <div class="py-5 text-center w-100">
            <div class="mx-auto w-xxl w-auto-xs" style="margin-top: 100px">
                <div class="px-3">

                    {% include 'backend/includes/registration/login_form.html' %}

                    <div class="my-4">
                        <a href="forgot-password.html" class="text-primary _600">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'admin/js/app.min.js' %}"></script>
</body>
</html>