{% extends 'backend/base.html' %}

{% load static %}

{% block link %}

    {{ block.super }}

{% endblock %}

{% block content %}

    <form role="form" action="{% url 'save-service' %}" data-url-success="{% url 'service-list' %}" method="post" enctype="multipart/form-data" novalidate>

        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">

                {% for field in form %}

                    {% if field == 'image' %}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                            {% include 'forms/includes/'|add:template_name %}

                        {% endwith %}

                    {% elif field == 'icon '%}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                            {% include 'forms/includes/'|add:template_name %}

                        {% endwith %}



                    {% else %}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                                {% include 'forms/includes/'|add:template_name %}

                            {% endwith %}

                    {% endif %}

                {% endfor %}

            </div>
        </div>
        <button type="submit" value="save-only" class="btn primary">Zapisać</button>
        <button type="submit" value="save-and-new" data-new-url="{% url 'create-service' %}" class="btn success">Zapisać i dodać nowy</button>
    </form>

{% endblock %}

{% block script %}

    <script src="{% static 'admin/js/script.js' %}"></script>

{% endblock %}