{% extends 'backend/base.html' %}

{% load static %}

{% block link %}

    {{ block.super }}

{% endblock %}

{% block content %}

    <div class="padding">
        <form role="form" action="{% url 'save-service' %}" data-url-success="{% url 'service-list' %}" method="post" enctype="multipart/form-data" novalidate>

            {% csrf_token %}

            <input type="hidden" name="id" value="{{ id }}">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group js-slug-source">
                        <label for="inputTitle">Tytuł</label>

                        {{ form.title }}

                    </div>

                    <div class="form-group js-slug">
                        <label for="inputSlug">Slug</label>

                        {{ form.slug }}

                    </div>

                    <div class="form-group">
                        <label for="inputDescription">Opisanie</label>

                        {{ form.description }}

                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputPrice">Price</label>

                            {{ form.price }}

                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-6 col-sm-6 col-md-6">
                            <div class="box-img p-1">
                                <label for="inputImage">Image</label>
                                <img id="image" src="" alt="" class="w-100" style="display: none">
                                <div class="p-2">
                                    <div class="text-ellipsis">

                                        {{ form.image }}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6">
                            <div class="box-icon p-1">
                                <label for="inputIcon">Icon</label>
                                <img id="icon" src="" alt="" class="w-100" style="display: none">
                                <div class="p-2">
                                    <div class="text-ellipsis">

                                        {{ form.icon }}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="md-switch" for="checkboxStatus">

                            {{ form.status }} Wyświetlić na stronie

                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn primary">Zapisać</button>
        </form>
    </div>

{% endblock %}

{% block script %}

    {{ block.super }}

    <script>

        //script for show uploaded files
        var img_btn = $('.box-img').find('input'),
            icon_btn = $('.box-icon').find('input');

        img_btn.change(function (e) {
            var tmp_path = URL.createObjectURL(e.target.files[0]);
            $(this).closest('.box-img').find('img').fadeIn("fast").attr('src', tmp_path);
        });
        icon_btn.change(function (e) {
            var tmp_path = URL.createObjectURL(e.target.files[0]);
            $(this).closest('.box-icon').find('img').fadeIn("fast").attr('src', tmp_path);
        });

        //script for save new service
        $('form').submit(function(e){
            e.preventDefault();
            console.log($(this)[0]);
            var formData = new FormData($(this)[0]);

            $.ajax({
                url: $(this).attr("action"),
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response){
                    if(response.result > 0){
                        document.location.href = response.url_success;
                    }
                    if(response.result < 0){
                        console.log(response);
                    }
                }
            });
        });

        //script for generate slug
        function generate_slug(str) {
            var $slug = '';
            var trimmed = $.trim(str);
            $slug = trimmed.replace(/[^a-z0-9-]/gi, '-').
            replace(/-+/g, '-').
            replace(/^-|-$/g, '');
            return $slug.toLowerCase();
        }

        $('.js-slug-source').find('input').keyup(function(){
            $('.js-slug').find('input').val(generate_slug($(this).val()));
        });
    </script>

{% endblock %}