{% load static %}
<div class="navbar navbar-expand-lg">
    <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
        </svg>
    </a>
    <div class="navbar-text nav-title flex" id="pageTitle">Dashboard</div>
    <ul class="nav flex-row order-lg-2">
        <li class="nav-item dropdown">
            <a class="nav-link px-3" data-toggle="dropdown"><i
                    class="fa fa-bell text-muted"></i>
                <span class="badge badge-pill up danger">14</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right w-md animate fadeIn mt-2 p-0">
                <div class="scrollable hover" style="max-height: 250px">
                    <div class="list">
                        <div class="list-item" data-id="item-10">
                            <span class="w-24 avatar circle blue">
                                <span class="fa fa-google"></span>
                            </span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Postiljonen</a>
                                <div class="item-except text-sm text-muted h-1x">Looking for some client-work</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">08:00</span>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-12"><span class="w-24 avatar circle green"><span
                                class="fa fa-dot-circle-o"></span></span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Ashton Cox</a>
                                <div class="item-except text-sm text-muted h-1x">Looking for some client-work</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">11:30</span>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-11"><span class="w-24 avatar circle blue"><span
                                class="fa fa-code-fork"></span></span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Tiger Nixon</a>
                                <div class="item-except text-sm text-muted h-1x">Looking for some client-work</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">16:00</span>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-13"><span class="w-24 avatar circle pink"><span
                                class="fa fa-plus"></span></span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Airi Satou</a>
                                <div class="item-except text-sm text-muted h-1x">Looking for some client-work</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">12:30</span>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-2"><span class="w-24 avatar circle light-blue"><span
                                class="fa fa-git"></span></span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Kygo</a>
                                <div class="item-except text-sm text-muted h-1x">What's the project progress now</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">08:05</span>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-4"><span class="w-24 avatar circle pink"><span
                                class="fa fa-male"></span></span>
                            <div class="list-body">
                                <a href="layout.header.html" class="item-title _500">Judith
                                    Garcia
                                </a>
                                <div class="item-except text-sm text-muted h-1x">Eddel upload a media</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">12:05</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex px-3 py-2 b-t">
                    <div class="flex">
                        <span>6 Notifications</span>
                    </div>
                    <a href="setting.html">See all <i class="fa fa-angle-right text-muted"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown d-flex align-items-center">
            <a href="#" data-toggle="dropdown"
               class="d-flex align-items-center" aria-expanded="false"><span
                    class="avatar w-32"><img src="{% static 'admin/images/a4.jpg' %}" alt="..."> </span>
                <span
                        class="dropdown-toggle mx-2 d-none l-h-1x d-lg-block"><span>Jean Reyes</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                <div class="row no-gutters b-b mb-2">
                    <div class="col-4 b-r">
                        <a href="app.user.html" class="py-2 pt-3 d-block text-center"><i
                                class="fa text-md fa-phone-square text-muted"></i>
                            <small class="d-block">Call</small>
                        </a>
                    </div>
                    <div class="col-4 b-r">
                        <a href="app.message.html" class="py-2 pt-3 d-block text-center"><i
                                class="fa text-md fa-comment text-muted"></i>
                            <small class="d-block">Chat</small>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="app.inbox.html" class="py-2 pt-3 d-block text-center"><i
                                class="fa text-md fa-envelope text-muted"></i>
                            <small class="d-block">Email</small>
                        </a>
                    </div>
                </div>
                <a class="dropdown-item" href="profile.html">
                    <span>Profile</span>
                </a>
                <a class="dropdown-item"
                   href="setting.html">
                    <span>Settings</span>
                </a>
                <a class="dropdown-item" href="app.inbox.html"><span class="float-right"><span
                        class="badge info">6</span></span>
                    <span>Inbox</span>
                </a>
                <a class="dropdown-item"
                   href="app.message.html">
                    <span>Message</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="docs.html">Need help?</a>
                <a class="dropdown-item" href="signin.html">Sign
                    out
                </a>
            </div>
        </li>
        <li class="d-lg-none d-flex align-items-center">
            <a href="layout.header.html#" class="mx-2"
               data-toggle="collapse" data-target="#navbarToggler">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg>
            </a>
        </li>
    </ul>
    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
        <form class="input-group m-2 my-lg-0"><span class="input-group-btn"><button type="button"
                                                                                    class="btn no-border no-bg no-shadow"><i
                class="fa fa-search"></i></button> </span>
            <input type="text"
                   class="form-control no-border no-bg no-shadow"
                   placeholder="Search projects...">
        </form>
    </div>
</div>