{% load static %}
<section class="section novi-background section-xl bg-periglacial-blue text-center"
         data-preset='{"title":"Call to Action 3","category":"call to Action","reload":false,"id":"call-to-action-3"}'>
    <div class="shell">
        <article class="box-promo">
            <div class="box-promo-left"><img class="box-promo-image" src="{% static 'images/home-1-585x580.jpg' %}"
                                             alt="" width="585" height="580"/>
            </div>
            <div class="box-promo-body">
                <p class="box-promo-title">pomagamy Ci wyglądać wspaniale</p>
                <div class="box-promo-text">
                    <p>Barbershop to najważniejszy salon fryzjerski w Elku dla stylowych mężczyzn szukających miejsca, w
                        którym mogą czuć się komfortowo, mówić swoje umysły i byc zadowoleni.</p>
                </div>
                <div class="box-promo-control"><a class="btn btn-sm btn-circle btn-primary" href="about.html">Dowiedz
                    się więcej</a></div>
            </div>
        </article>
    </div>
</section>