{% load static %}
<section class="section novi-background section-xl bg-periglacial-blue text-center"
         data-preset='{"title":"Latest Blog Posts 3","category":"blog","reload":false,"id":"latest-blog-posts-3"}'>
    <div class="shell">
        <h2>najnowsze posty na blogu</h2>
        <div class="p text-width-medium">
            <p class="big">Barbershop to nie tylko miejsce, w którym można uzyskać fryzurę pierwszej klasy. Nasi
                fryzjerzy piszą również interesujące artykuły na temat wszystkiego, co dotyczy ich zainteresowań.</p>
        </div>
        <article class="box-post box-post-dark box-post-reverse box-post-image-right-bottom">
            <div class="box-post-left"><img class="box-post-image"
                                            src="{% static 'images/box-post-1-530x490.png' %}" alt="" width="530"
                                            height="490"/>
            </div>
            <div class="box-post-body">
                <p class="box-post-title"><a href="single-post.html">Zwiedzanie fryzjera</a></p>
                <div class="box-post-text">
                    <p>Fryzjer wie, jak ciąć męskie włosy. Jeśli w dzisiejszych czasach jesteś podobny do większości
                        mężczyzn, prawdopodobnie udasz się do jakiegoś salonu sieci unisex.</p>
                </div>
                <a class="btn btn-sm box-post-control" href="single-post.html">CZYTAJ WIĘCEJ</a>
            </div>
        </article>
        <article class="box-post">
            <div class="box-post-left"><img class="box-post-image"
                                            src="{% static 'images/box-post-2-530x490.png' %}" alt="" width="530"
                                            height="490"/>
            </div>
            <div class="box-post-body">
                <p class="box-post-title"><a href="single-post.html">Jaka fryzura Ci odpowiada</a></p>
                <div class="box-post-text">
                    <p>Różni ludzie mają różne kształty twarzy. I nie ty, ale kształt twojej twarzy zadecyduje, czy ta
                        fryzura będzie dla ciebie odpowiednia, czy nie.</p>
                </div>
                <a class="btn btn-sm box-post-control" href="single-post.html">CZYTAJ WIĘCEJ</a>
            </div>
        </article>
        <article class="box-post box-post-dark box-post-reverse">
            <div class="box-post-left"><img class="box-post-image"
                                            src="{% static 'images/box-post-3-530x490.png' %}" alt="" width="530"
                                            height="490"/>
            </div>
            <div class="box-post-body">
                <p class="box-post-title"><a href="single-post.html">7 najlepszych produktów do golenia</a></p>
                <div class="box-post-text">
                    <p>Odpowiedni krem do golenia może odróżnić zdrową skórę od skóry wrastającej we włosy, oparzenia
                        brzytwą, podrażnienia itp.</p>
                </div>
                <a class="btn btn-sm box-post-control" href="single-post.html">CZYTAJ WIĘCEJ</a>
            </div>
        </article>
    </div>
</section>