{% load static %}
<section class="section novi-background section-xl bg-periglacial-blue text-center">
    <div class="shell">
        <div class="range range-sm-center range-75">
            <div class="cell-xs-12">
                <h2>FAQ</h2>
                <div class="p text-width-medium">
                    <p class="big">Jeśli masz jakiekolwiek pytania dotyczące usług oferowanych przez nasz zakład
                        fryzjerski, przejrzyj tę sekcję często zadawanych pytań.</p>
                </div>
            </div>
            <div class="cell-lg-10">
                <article class="box-spacer">
                    <dl class="terms-list-bordered">
                        <dt>Czy muszę umówić się na spotkanie?</dt>
                        <dd>Nie. Zaloguj się na liście w recepcji, a jeśli jest oczekiwanie, możesz skorzystać z naszego
                            bezpłatnego Wi-Fi, aby surfować po Internecie lub nadrobić zaległości w e-mailu. Gdy tylko
                            twoje nazwisko znajdzie się na szczycie listy, doprowadzimy cię do tej wspaniałej fryzury,
                            na którą czekałeś.
                        </dd>
                        <dt>Co jeśli potrzebuję trochę więcej od góry (lub od dołu lub w inny sposób)?</dt>
                        <dd>Zadzwoń do naszego administratora i poinformuj stylistę, który wykonał pierwszą usługę, lub
                            kierownika sklepu, że chcesz wrócić i dokona niezbędnych zmian w ciągu 7 dni.
                        </dd>
                        <dt>Czy akceptujesz przejścia?</dt>
                        <dd>Tak, akceptujemy wejścia! Mamy co najmniej jednego fryzjera, który poświęca się obsłudze
                            walk prawie codziennie! Śledzimy, kto czeka na wejście z naszą listą logowania online.
                            Możesz dostać się na listę online lub zarejestrować się na naszym komputerze.
                        </dd>
                    </dl>
                </article>
            </div>
            <div class="cell-xs-12"><a class="btn btn-sm btn-style-1 btn-primary" href="faq.html">Czytaj więcej</a>
            </div>
        </div>
    </div>
</section>