{% load static %}
<section class="section novi-background jumbotron-custom jumbotron-custom-1 bg-gray-base bg-image text-center"
         style="background-image: url({% static 'images/bg-image-2.jpg' %});"
         data-preset='{"title":"Intro 1","category":"intro","reload":false,"id":"intro-1"}'>
    <div class="jumbotron-custom-content">
        <div class="shell">
            <div class="range range-sm-center">
                <div class="cell-sm-10 cell-lg-9"><a class="brand-big" href="{% url 'home' %}"><img
                        src="{% static 'images/logo-md-white-136x160.png' %}" alt="" width="136" height="160"/></a>
                    <p class="caption">Najlepsze</p>
                    <h1>Mistrzowie Ostrza</h1>
                    <p class="large">W Barbershop znajdziesz atmosferę staroświeckiego wyrafinowania z nowoczesnymi
                        udogodnieniami. Obsługujemy panów w podróży. Więc zatrzymaj się w przerwie na lunch, aby
                        uzyskać staromodne, proste golenie brzytwy lub idealną fryzurę.</p>
                </div>
            </div>
        </div>
    </div>
</section>