{% load static %}
<section class="section novi-background box-wrap box-wrap-sm bg-white"
         data-preset='{"title":"Contacts 3","category":"contacts, map","reload":true,"id":"contacts-3"}'>
    <div class="box-wrap-map">
        <!-- Google Map-->
        <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="5"
             data-icon="images/gmap_marker.png' %}" data-icon-active="images/gmap_marker_active.png' %}">
            <div class="google-map"></div>
        </div>
    </div>
    <div class="box-wrap-content">
        <div class="shell">
            <div class="box-contacts box-contacts-horizontal box-contacts-horizontal-small box-wrap-content-interactive">
                <div class="box-contacts-col text-center text-sm-left">
                    <div class="box-contacts-block">
                        <h3>Address</h3>
                        <address>123 Street W, Seattle WA 99999 United States</address>
                    </div>
                    <div class="divider divider-nebula"></div>
                    <div class="box-contacts-block text-center text-sm-left">
                        <h3>Opening Hours</h3>
                        <dl class="box-contacts-terms-list">
                            <dt>Monday – Friday</dt>
                            <dd>9am - 6pm</dd>
                            <dt>Saturday and Sunday</dt>
                            <dd>10am - 4pm</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>