{% load static %}
<section class="section novi-background section-xxl bg-gray-dark bg-gray-dark-overlay bg-image"
         style="background-image: url(images/bg-image-3.jpg' %})">
    <div class="shell">
        <div class="range">
            <div class="cell-sm-8 cell-md-7 cell-lg-6">
                <h2 style="max-width: 90%;">USŁUGI BARBERSHOP HAIRCUT</h2>
                <p class="big">
                    Jesteśmy dumni z każdej usługi, którą świadczymy. Dokładamy wszelkich starań, aby zapewnić Ci
                    najlepszą fryzurę bez względu na fryzurę lub styl golenia. Zapraszamy do przeglądania naszej listy
                    usług, aby dowiedzieć się więcej o usługach, które oferujemy naszym klientom i gościom.

                </p><a class="btn btn-sm btn-circle btn-primary" href="services.html">wyświetl wszystkie usługi</a>
            </div>
        </div>
    </div>
</section>