{% extends 'backend/base.html' %}

{% load static filter_extras %}

{% block link %}

    <link rel="stylesheet" href="{% static 'admin/libs/fullcalendar/dist/core/main.css' %}">
    <link rel="stylesheet" href="{% static 'admin/libs/fullcalendar/dist/daygrid/main.css' %}">
    <link rel="stylesheet" href="{% static 'admin/libs/fullcalendar/dist/timegrid/main.css' %}">

    {{ form.media.css }}

    <script src="{% static 'admin/libs/fullcalendar/dist/moment/main.js' %}"></script>
    <script src="{% static 'admin/libs/fullcalendar/dist/core/main.js' %}"></script>
    <script src="{% static 'admin/libs/fullcalendar/dist/daygrid/main.js' %}"></script>
    <script src="{% static 'admin/libs/fullcalendar/dist/timegrid/main.js' %}"></script>
    <script src="{% static 'admin/libs/fullcalendar/dist/interaction/main.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="form-row">

        {% csrf_token %}

        <div id="data" data-url-create-event="{% url 'create-event' %}" data-url-calendar="{% url 'barber-calendar' %}" data-url-set="{% url 'set-barber-working-day' %}" data-url-get="{% url 'get-barber-days' %}"></div>

    {% for field in select_barber %}

        <div class="col-md-4">
            <div class="form-group">
                <label>{{ field.label }}</label>

                {{ field }}

            </div>
        </div>

    {% endfor %}

        <div class="col-md-8">
            <label>Wybierz dni robocze fryzjera</label>
            <div id="barber-days">

                {% for day in week_days %}

                    <button class="md-btn md-flat mb-2 {% if week_days|index:day|index:"is_working" %} text-success {% endif %}">{{ day }}</button>

                {% endfor %}

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="d-flex mb-3 col-sm-12 col-md-12">
            <button type="button" class="btn btn-sm white" id="todayview">dzisiaj</button>
            <div class="btn-group ml-auto">
                <button class="btn btn-sm white" id="monthview">Miesiąc</button>
                <button class="btn btn-sm white" id="weekview">Tydzień</button>
                <button class="btn btn-sm white" id="dayview">Dzień</button>
            </div>
        </div>

        <div id="calendar"></div>
    </div>

    {% include 'forms/includes/event_info.html' %}
    {% include 'forms/includes/new_event.html' %}

{% endblock %}

{% block script %}

    {{ form.media.js }}

    <script src="{% static 'admin/js/plugins/fullcalendar2.js' %}"></script>

{% endblock %}