{% load static %}
<section class="section novi-background section-xl bg-periglacial-blue text-center"
         data-preset='{"title":"choose_barber 3","category":"content","reload":false,"id":"choose_barber-3"}'>
    <div class="shell">
        <div class="range range-sm-center range-50">
            <div class="cell-xs-12">
                <h2>NASZE USŁUGI</h2>
                <div class="p text-width-medium">
                    <p class="big">Barbershop oferuje światowej klasy fryzury dla mężczyzn, pielęgnację brody i golenie
                        na gorąco. Oto tylko niektóre z usług, z których jesteśmy znani.</p>
                </div>
            </div>
            <div class="cell-xs-12">
                <div class="range range-30">
                    <div class="cell-xs-6 cell-md-3">
                        <article class="box-icon">
                            <figure class="box-icon-image"><img src="{% static 'images/icon-service-1-70x62.png' %}"
                                                                alt="" width="70" height="62"/>
                            </figure>
                            <p class="box-icon-header"><a href="{% url 'choose_barber' %}">TRADYCYJNE STRZYZENIE WŁOSÓW</a></p>
                            <p class="box-icon-text">Jedna z najpopularniejszych usług oferowanych przez naszych
                                fryzjerów</p>
                        </article>
                    </div>
                    <div class="cell-xs-6 cell-md-3">
                        <article class="box-icon">
                            <figure class="box-icon-image"><img src="{% static 'images/icon-service-2-70x62.png' %}"
                                                                alt="" width="70" height="62"/>
                            </figure>
                            <p class="box-icon-header"><a href="{% url 'choose_barber' %}">GOLENIE</a></p>
                            <p class="box-icon-text">Nasze usługi golenia sprawią, że będziesz wyglądał naprawdę
                                przystojnie</p>
                        </article>
                    </div>
                    <div class="cell-xs-6 cell-md-3">
                        <article class="box-icon">
                            <figure class="box-icon-image"><img src="{% static 'images/icon-service-3-70x62.png' %}"
                                                                alt="" width="70" height="62"/>
                            </figure>
                            <p class="box-icon-header"><a href="{% url 'choose_barber' %}">Przycinanie brody</a></p>
                            <p class="box-icon-text">Dobrze przycięta broda jest niezbędnym elementem wizerunku każdego
                                mężczyzny</p>
                        </article>
                    </div>
                    <div class="cell-xs-6 cell-md-3">
                        <article class="box-icon">
                            <figure class="box-icon-image"><img src="{% static 'images/icon-service-4-70x62.png' %}"
                                                                alt="" width="70" height="62"/>
                            </figure>
                            <p class="box-icon-header"><a href="{% url 'choose_barber' %}">Przycinanie wąsów</a></p>
                            <p class="box-icon-text">Wąsy należy również regularnie przycinać</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>