{% extends 'backend/base.html' %}

{% load static %}

{% block link %}

    {{ block.super }}

{% endblock %}

{% block content %}

    <button data-toggle="modal" data-target="#delete" class="btn danger mb-4">Usuńąć</button>

    <form role="form" action="{% url 'save-barber' %}" method="post" enctype="multipart/form-data" novalidate>

        {% csrf_token %}

        <input type="hidden" name="id" value="{{ barber.id }}">

        <div class="form-row">
            <div class="form-group col-md-6">

                {% for field in form %}

                    {% if field == 'image' %}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                            {% include 'forms/includes/'|add:template_name %}

                        {% endwith %}

                    {% elif field == 'icon '%}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                            {% include 'forms/includes/'|add:template_name %}

                        {% endwith %}



                    {% else %}

                        {% with template_name=field.name|stringformat:"s"|add:".html" %}

                                {% include 'forms/includes/'|add:template_name %}

                            {% endwith %}

                    {% endif %}

                {% endfor %}

            </div>
        </div>
        <button type="submit" value="save-only" class="btn primary">Zapisać</button>
        <button type="submit" value="save-and-new" data-new-url="{% url 'create-barber' %}" class="btn success">Zapisać i dodać nowy</button>
    </form>

    {% if barber %}

        {% include 'forms/includes/modal.html' %}

    {% endif %}

{% endblock %}

{% block script %}

    <script src="{% static 'admin/js/script.js' %}"></script>

{% endblock %}