{% load filter_extras %}

<form action="{% url 'login' %}" name="form" class="needs-validation" method="post" novalidate>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}

            <div class="alert alert-danger" role="alert">

                {{ error }}

            </div>

        {% endfor %}
    {% endif %}

    {% csrf_token %}

    <div class="form-group">
        <input type="text" class="form-control {% if form.errors.username %} is-invalid {% endif %}" name="username" {% if 'username' in request.POST %}
               value="{{ request.POST|get_request_value:'username' }}" {% endif %} placeholder="Username" required autofocus/>

        {% if form.errors.username %}

            <div class="invalid-feedback">{{ form.errors.username|first }}</div>

        {% endif %}

    </div>
    <div class="form-group">
        <input type="password" name="password"
               class="form-control {% if form.errors.password %} is-invalid {% endif %}" placeholder="Password" required autofocus/>

        {% if form.errors.password %}

            <div class="invalid-feedback">{{ form.errors.password|first }}</div>

        {% endif %}

    </div>
    <button type="submit" class="btn primary">Sign in</button>
</form>