{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Shop - {{ block.super }}{% endblock %}

{% block content %}

    {{ block.super }}

    <section data-preset='{"title":"Shop","category":"shop","reload":true,"id":"shop"}'>
        <div class="shop-panel">
            <div class="shell">
                <div class="shop-panel-inner">
                    <div class="shop-panel-left"><a class="shop-panel-link" href="cart.html"><span
                            class="novi-icon icon fa fa-shopping-cart"></span><span class="count">2</span></a><span
                            class="shop-panel-price">$35.99</span></div>
                    <div class="shop-panel-right">
                        <div class="shop-panel-select"><span class="shop-panel-select-title">Kategoria</span>
                            <select class="form-control select-filter" data-minimum-results-for-search="Infinity"
                                    data-custom-theme="modern">
                                <option value="3">Wszystko</option>
                                <option value="4">Category 1</option>
                                <option value="5">Category 2</option>
                                <option value="6">Category 3</option>
                            </select>
                        </div>
                        <div class="shop-panel-select"><span class="shop-panel-select-title">Sortuj według</span>
                            <select class="form-control select-filter" data-minimum-results-for-search="Infinity"
                                    data-custom-theme="modern">
                                <option value="3">Cena</option>
                                <option value="4">Type 1</option>
                                <option value="5">Type 2</option>
                                <option value="6">Type 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-md bg-periglacial-blue text-center">
            <div class="shell">
                <div class="range range-30">
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-1-164x168.png' %}" alt="" width="164" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">Uppercut deluxe</a></p>
                            <p class="product-price">$34.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-2-210x168.png' %}" alt="" width="210" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">Thiers Issard SING-6/8-188-OL</a></p>
                            <p class="product-price">$25.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-3-175x168.png' %}" alt="" width="175" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">Ducky Matte Pomade</a></p>
                            <p class="product-price">$27.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-2-210x168.png' %}" alt="" width="210" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">dovo en Vogue 5/8</a></p>
                            <p class="product-price">$32.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-3-175x168.png' %}" alt="" width="175" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">Ducky Matte premium Pomade</a></p>
                            <p class="product-price">$31.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-4">
                        <article class="product"><a class="product-image" href="single-product.html"><img
                                src="{% static 'images/product-1-164x168.png' %}" alt="" width="164" height="168"/></a>
                            <p class="product-title"><a href="single-product.html">uppercut deluxe extra</a></p>
                            <p class="product-price">$44.99
                            </p><a class="btn-shop" href="cart.html"><span
                                    class="novi-icon btn-shop-icon fa fa-shopping-cart"></span><span
                                    class="btn-shop-text">DODAJ DO KOSZYKA</span></a>
                        </article>
                    </div>
                </div>
                <ul class="pagination-custom">
                    <li class="disabled"><a href="shop.html#"></a></li>
                    <li class="active"><a href="shop.html#">1</a></li>
                    <li><a href="shop.html#">2</a></li>
                    <li><a href="shop.html#">3</a></li>
                    <li class="ellipsis">...</li>
                    <li><a href="shop.html#">12</a></li>
                    <li><a href="shop.html#"></a></li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}