{% extends 'base.html' %}

{% load static %}

{% block title %}Wybierz fryzjera - {{ block.super }}{% endblock %}

{% block header %}

    <div class="page-header page-header-perspective">
        <div class="page-header-left"><a class="brand" href="index.html"><img
                src="{% static 'images/logo-default-199x36.png' %}" alt="" width="199" height="36"/></a></div>
        <div class="page-header-center">
            <div class="step-progress">
                <div class="step-progress-top"><span class="step-progress-number">2</span><span>z</span><span
                        class="step-progress-number">4</span></div>
                <div class="step-progress-bottom">
                    <p class="step-progress-text">Krokow</p>
                </div>
            </div>
        </div>
        <div class="page-header-right">
            <div id="perspective-open-menu" data-custom-toggle=".perspective-menu-toggle"
                 data-custom-toggle-hide-on-blur="true"><span class="perspective-menu-text">Menu</span>
                <button class="perspective-menu-toggle"><span></span></button>
            </div>
        </div>
    </div>
    <div class="custom-progress">
        <div class="custom-progress-body" style="width: 33.33%;"></div>
    </div>

{% endblock %}

{% block content %}

    <section class="section novi-background section-xs bg-periglacial-blue one-screen-page-content text-center"
             data-preset='{"title":"Booking Step 2","category":"booking","reload":false,"id":"booking-step-2"}'>
        <div class="shell"><a class="link link-primary link-return" href="{% url 'choose_service' %}">Back</a></div>
        <div class="shell">
            <h2>WYBIERZ fryzjera</h2>
            <div class="p text-width-medium">
                <p class="big">Barbershop oferuje profesjonalne usługi certyfikowanych fryzjerów z wieloletnim doświadczeniem. Na tej stronie możesz wybrać preferowanego fryzjera za pomocą kilku kliknięć.</p>
            </div>
            <div class="range range-lg-center">
                <div class="cell-lg-10">
                    <div class="range range-sm-center range-md-left range-30">
                        <div class="cell-sm-8 cell-md-6">
                            <div class="thumbnail-option">
                                <div class="thumbnail-option-left"><img src="{% static 'images/team-1-170x180.jpg' %}" alt=""
                                                                        width="170" height="180"/>
                                </div>
                                <div class="thumbnail-option-body">
                                    <div class="thumbnail-option-title">Simon wilson</div>
                                    <ul class="thumbnail-option-list">
                                        <li>mo</li>
                                        <li class="active">tu</li>
                                        <li class="active">we</li>
                                        <li>th</li>
                                        <li class="active">fr</li>
                                        <li>st</li>
                                        <li>sn</li>
                                    </ul>
                                    <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle"
                                                                           href="{% url 'choose_date' %}">Wybierz</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-sm-8 cell-md-6">
                            <div class="thumbnail-option">
                                <div class="thumbnail-option-left"><img src="{% static 'images/team-2-170x180.jpg' %}" alt=""
                                                                        width="170" height="180"/>
                                </div>
                                <div class="thumbnail-option-body">
                                    <div class="thumbnail-option-title">Matthew Phillips</div>
                                    <ul class="thumbnail-option-list">
                                        <li>mo</li>
                                        <li class="active">tu</li>
                                        <li class="active">we</li>
                                        <li>th</li>
                                        <li class="active">fr</li>
                                        <li>st</li>
                                        <li>sn</li>
                                    </ul>
                                    <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle"
                                                                           href="{% url 'choose_date' %}">Wybierz</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-sm-8 cell-md-6">
                            <div class="thumbnail-option">
                                <div class="thumbnail-option-left"><img src="{%  static 'images/team-3-170x180.jpg' %}" alt=""
                                                                        width="170" height="180"/>
                                </div>
                                <div class="thumbnail-option-body">
                                    <div class="thumbnail-option-title">harry anderson</div>
                                    <ul class="thumbnail-option-list">
                                        <li>mo</li>
                                        <li class="active">tu</li>
                                        <li class="active">we</li>
                                        <li>th</li>
                                        <li class="active">fr</li>
                                        <li>st</li>
                                        <li>sn</li>
                                    </ul>
                                    <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle"
                                                                           href="{% url 'choose_date' %}">Wybierz</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-sm-8 cell-md-6">
                            <div class="thumbnail-option">
                                <div class="thumbnail-option-left"><img src="{% static 'images/team-1-170x180.jpg' %}" alt=""
                                                                        width="170" height="180"/>
                                </div>
                                <div class="thumbnail-option-body">
                                    <div class="thumbnail-option-title">James Young</div>
                                    <ul class="thumbnail-option-list">
                                        <li>mo</li>
                                        <li class="active">tu</li>
                                        <li class="active">we</li>
                                        <li>th</li>
                                        <li class="active">fr</li>
                                        <li>st</li>
                                        <li>sn</li>
                                    </ul>
                                    <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle"
                                                                           href="{% url 'choose_date' %}">Wybierz</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-sm-8 cell-md-6">
                            <div class="thumbnail-option">
                                <div class="thumbnail-option-left"><img src="{% static 'images/team-2-170x180.jpg' %}" alt=""
                                                                        width="170" height="180"/>
                                </div>
                                <div class="thumbnail-option-body">
                                    <div class="thumbnail-option-title">Scott Russell</div>
                                    <ul class="thumbnail-option-list">
                                        <li>mo</li>
                                        <li class="active">tu</li>
                                        <li class="active">we</li>
                                        <li>th</li>
                                        <li class="active">fr</li>
                                        <li>st</li>
                                        <li>sn</li>
                                    </ul>
                                    <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle"
                                                                           href="{% url 'choose_date' %}">Wybierz</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}